@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";
@import "aos/dist/aos.css";
@import "react-loading-skeleton/dist/skeleton.css";

html {
	scroll-behavior: smooth;
}

:root {
	/* Shadcn UI default colors */
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--destructive-foreground: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	/* Custom project colors */
	--background: #f9edd3;
	--foreground: #171717;
	--light-foreground: #f2f2f2;
	--banner: #febb6f;
	--highlight: #f7ad59;
	--primary: #1c63b2;
	--secondary: #ff8b2f;
	--item: #fdf7ed;
	--soft-green: #7ccd7f;
	--on-soft-green: #18691b;
	--soft-red: #eb6060;
	--on-soft-red: #5f0707;
	--extra-red: #f71414;
	--extra-orange: #c36d20;

	/* Skeletons */
	--dark-background: #ecdfc3;
	--dark-primary: #0d4d96;
}

@theme inline {
	/* Shadcn UI theme variables */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	/* Custom project colors */
	--color-light-foreground: var(--light-foreground);
	--color-banner: var(--banner);
	--color-highlight: var(--highlight);
	--color-item: var(--item);
	--color-soft-green: var(--soft-green);
	--color-on-soft-green: var(--on-soft-green);
	--color-soft-red: var(--soft-red);
	--color-on-soft-red: var(--on-soft-red);
	--color-extra-red: var(--extra-red);
	--color-extra-orange: var(--extra-orange);
	--font-montserrat: var(--font-montserrat);
	--font-poppins: var(--font-poppins);

	/* Skeletons */
	--color-dark-primary: var(--dark-primary);
	--color-dark-background: var(--dark-background);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-montserrat);
}

.bag-bar {
	filter: drop-shadow(0 0 8px #00000050);
}

.bag-bar button {
	@apply cursor-pointer;
}

.bag-bar button:not(.bag-button) {
	@apply hover:scale-105 transition-all duration-300;
}

.bag-button::before {
	content: "";
	position: absolute;
	width: 40px;
	height: 50%;
	background-color: transparent;
	left: -30px;
	bottom: -10px;
	border-bottom-right-radius: 50px;
	border-bottom: 10px solid var(--banner);
	border-right: 10px solid var(--banner);
}

.bag-button.notify::after {
	content: "";
	position: absolute;
	width: 18px;
	aspect-ratio: 1/1;
	border-radius: 9999px;
	background-color: var(--on-soft-red);
	left: -2px;
	top: -2px;
	filter: drop-shadow(0 0 2px #00000050);
}

@media (width >= 48rem) {
	.bag-button::before {
		content: "";
		position: absolute;
		width: 40px;
		height: 50%;
		background-color: transparent;
		left: 25px;
		top: -18px;
		border-bottom-right-radius: 50px;
		border-bottom: 10px solid var(--banner);
		border-right: 10px solid var(--banner);
	}
	.bag-button.notify::after {
		content: "";
		position: absolute;
		width: 18px;
		aspect-ratio: 1/1;
		border-radius: 9999px;
		background-color: var(--on-soft-red);
		left: -2px;
		top: -2px;
		filter: drop-shadow(0 0 2px #00000050);
	}
}
