@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";
@import "aos/dist/aos.css";

html {
	scroll-behavior: smooth;
}

:root {
	--background: #f9edd3;
	--foreground: #171717;
	--light-foreground: #f2f2f2;
	--banner: #febb6f;
	--highlight: #f7ad59;
	--primary: #1c63b2;
	--secondary: #ff8b2f;
	--item: #fdf7ed;
	--soft-green: #7ccd7f;
	--on-soft-green: #18691b;
	--soft-red: #dd5151;
	--on-soft-red: #f71414;
	--extra-orange: #c36d20;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-light-foreground: var(--light-foreground);
	--color-banner: var(--banner);
	--color-highlight: var(--highlight);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-item: var(--item);
	--color-soft-green: var(--soft-green);
	--color-on-soft-green: var(--on-soft-green);
	--color-soft-red: var(--soft-red);
	--color-on-soft-red: var(--on-soft-red);
	--color-extra-orange: var(--extra-orange);
	--font-montserrat: var(--font-montserrat);
	--font-poppins: var(--font-poppins);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-montserrat);
}

